body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right,  #C39BD3 10%, #5B2C6F 90%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 900px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
    font-family: 'Courier New', monospace;
}

header p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.calculator-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.option-card {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
}

.option-card h2 {
    margin: 0;
    font-size: 1.5em;
}

.option-card:hover {
    transform: translateY(-5px);
    background: black;
    color: #f0f0f0;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
}
