body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right,  #C39BD3 10%, #5B2C6F 90%);
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    background-color: #154360;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #f0f0f0;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #f0f0f0;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #f9a825;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f57f17;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #f0f0f0;
}

#monthlyPayment {
    font-weight: bold;
    color: #f0f0f0;
}
